{{> head}}

{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Iron Man</h1>
        <p>
            ron Man (en español El hombre de hierro), es un personaje ficticio, un superhéroe que aparece en los cómics publicados 
            por Marvel Comics. Tras el apodo se encuentra Anthony Edward Stark, mejor conocido como Tony Stark, 
            un muy exitoso y famoso multimillonario que, además de haber sido un destacable niño prodigio y poseer una de las 
            mentes más brillantes del mundo, es también un grandísimo empresario e ingeniero y fanático de la serie de ciencia 
            ficción Star Trek. Tiene una lujosa, caótica y extravagante vida llena de excesos, basada principalmente en una enorme fortuna 
            gracias a sus grandes conocimientos mecánicos y científicos, sus peculiares y distinguidas fabricaciones y por supuesto, a la herencia 
            de su fallecido padre Howard Stark.
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/iron-man.png" class ="img-thumbnail">
    </div>

</div>

    {{> footer}}


